.popular-cities-light {
    color: navy;
    padding: 0 0 0 7px;
    font-weight: bold;
}
.popular-cities-dark {
    color: white;
    padding: 0 0 0 7px;
    font-weight: bold;
}
.center {
    text-align: center;
}
.country {
    color: gray;
    font-size: 80%;
}
