.Sunny {
    --background: url(/assets/img/sunny.jpg) no-repeat center/cover;
    opacity: 0.8;
}
.Clouds {
    --background: url(/assets/img/cloudy.jpg) no-repeat center/cover;
    opacity: 0.8;
}
.Clear {
    --background: url(/assets/img/clear.jpg) no-repeat center/cover;
    opacity: 0.8;
}
.Thunderstorm {
    --background: url(/assets/img/thunderstorm.jpg) no-repeat center/cover;
    opacity: 0.8;
}
.Drizzle {
    --background: url(/assets/img/drizzle.jpg) no-repeat center/cover;
    opacity: 0.8;
}
.Rain {
    --background: url(/assets/img/rain.jpg) no-repeat center/cover;
    opacity: 0.8;
}
.Snow {
    --background: url(/assets/img/snow.jpg) no-repeat center/cover;
    opacity: 0.8;
}
.Mist,
.Smoke,
.Dust,
.Fog,
.Sand,
.Ash,
.Squall,
.Tornado,
.Haze {
    --background: url(/assets/img/haze.jpg) no-repeat center/cover;
    opacity: 0.8;
}
.location {
    color: white;
    font-size: 200%;
    font-family: monospace;
}
.temp {
    color: white;
    /* text-align: center; */
    font-size: 300%;
    font-family: auto;
    padding-left: 3%;
}
.weather {
    color: white;
    /* text-align: center; */
    font-size: 150%;
    font-family: cursive;
    padding: 3px;
}
